*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yantramanav', sans-serif;
}

.container-header{
    max-height: 100px;
}


.barra-menu{
    background-color: #255ee9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    padding: 10px 200px;
}

.logo{
    width: 100px;
    text-align: left;
}

.link{
    width: 80%;
    text-align: center;
    color: white;
}

.link > ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.login{
    text-align: right;
}

.login > button{
    border-radius: 50px;
    border: none;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
}


.box-blue > img{
    width: 100%;
